

.headercontainer{
    height:75px;
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.headercontainertwo{
    height: 25px;
    width: 100%;
    background-color: darkgray;
    margin-bottom: 20px;
}
.cart{
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
}
.title{
    margin-left: 10px;
}